In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from scipy import stats  # 과학용 계산 라이브러리

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow import keras

column_name=['sepal length', 'sepal width', 'petal length', 'petal width', 'class']
df = pd.read_csv("C:\\Users\\user\\2024_ai_test\\iris_data\\iris.data", names=column_name)
df

     sepal length  sepal width  petal length  petal width           class
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [3]:
df['class'].value_counts()

class
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [4]:
df.isnull().sum()

sepal length    0
sepal width     0
petal length    0
petal width     0
class           0
dtype: int64

In [5]:
X=df[['sepal width', 'petal length', 'petal width']]
X.head()

   sepal width  petal length  petal width
0          3.5           1.4          0.2
1          3.0           1.4          0.2
2          3.2           1.3          0.2
3          3.1           1.5          0.2
4          3.6           1.4          0.2

In [6]:
y=df['sepal length']
y.head()

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepal length, dtype: float64

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.25, random_state=0)

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

model = LinearRegression()
model.fit(X_train, y_train)
ly_preds = model.predict(X_test)

print('평균제곱근오차', mean_squared_error(ly_preds, y_test))

평균제곱근오차 0.12138534419709165

In [15]:
from sklearn.tree import DecisionTreeRegressor

model = DecisionTreeRegressor()
model.fit(X_train, y_train)

from sklearn.metrics import mean_squared_error

dy_preds = model.predict(X_test)
print('평균제곱근오차', mean_squared_error(dy_preds, y_test))

평균제곱근오차 0.2152631578947368

In [16]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(X_train, y_train)

from sklearn.metrics import mean_squared_error

ry_preds = model.predict(X_test)
print('평균제곱근오차', mean_squared_error(ry_preds, y_test))

평균제곱근오차 0.14449817067982473

In [18]:
from sklearn.neighbors import KNeighborsRegressor

model = KNeighborsRegressor(n_neighbors=2)
model.fit(X_train, y_train)

from sklearn.metrics import mean_squared_error

knn_preds = model.predict(X_test)
print('평균제곱근오차', mean_squared_error(knn_preds, y_test))

평균제곱근오차 0.15940789473684217

In [19]:
from sklearn.neighbors import KNeighborsRegressor

model = KNeighborsRegressor(n_neighbors=3)
model.fit(X_train, y_train)

from sklearn.metrics import mean_squared_error

knn_preds = model.predict(X_test)
print('평균제곱근오차', mean_squared_error(knn_preds, y_test))

평균제곱근오차 0.16660818713450284

In [20]:
from sklearn.neighbors import KNeighborsRegressor

model = KNeighborsRegressor(n_neighbors=4)
model.fit(X_train, y_train)

from sklearn.metrics import mean_squared_error

knn_preds = model.predict(X_test)
print('평균제곱근오차', mean_squared_error(knn_preds, y_test))

평균제곱근오차 0.16338815789473687

In [21]:
from sklearn.neighbors import KNeighborsRegressor

model = KNeighborsRegressor(n_neighbors=5)
model.fit(X_train, y_train)

from sklearn.metrics import mean_squared_error

knn_preds = model.predict(X_test)
print('평균제곱근오차', mean_squared_error(knn_preds, y_test))

평균제곱근오차 0.1501052631578947

In [22]:
from sklearn.neighbors import KNeighborsRegressor

model = KNeighborsRegressor(n_neighbors=6)
model.fit(X_train, y_train)

from sklearn.metrics import mean_squared_error

knn_preds = model.predict(X_test)
print('평균제곱근오차', mean_squared_error(knn_preds, y_test))

평균제곱근오차 0.13941520467836263

In [23]:
print("KNN k값은 2~6까지 중 6, 5, 2, 4, 3순으로 우수했다")

KNN k값은 2~6까지 중 6, 5, 2, 4, 3순으로 우수했다